.card {
    margin-top: 20px;
    width: 100%;
}

.container {
    margin-top: 30px;
}

.map-row {
    margin-top: 30px;
}

.map-img {
    width: 75%;
}

.add-shop-button {
    margin: 0 auto;
}

.shops-table {
    width: 50%;
}

.edit-shop-column {
    width: 30px;
}

.delete-shop-column {
    width: 30px;
}

.edit-shop-button {
    float: right;
}

.delete-shop-button {
    float: right;
}

.fav-shop-button {
    float: right;
}

.table-cell {
    vertical-align: middle !important;
}

.add-shopping-button {
    margin-left: 8px;
}

.edit-shopping-button {
    float: right;
    margin-right: 5px;
}

.delete-shopping-button {
    float: right;
}

#account-fields {
    color: gray; 
    text-align: right; 
    padding-right: 40px;
}

.chart-container {
    width: 500px;
    height: 400px;
    margin: auto;
}

.clickable-row {
    cursor: pointer;
}

.clickable-row:hover {
    background-color: #f1f1f1;
    transform: scale(1.05);
}
